# Pandas Time Series

1. Timestamps, specific instants in time   
   
2. Fixed periods, such as the month January 2007 or the full year 2010   
  
3. Intervals of time, indicated by a start and end timestamp. Periods can be thought of as special cases of intervals  
   
4. Experiment or elapsed time; each timestamp is a measure of time relative to a particular start time (e.g., the diameter of a cookie baking each second since being placed in the oven)

In [9]:
from datetime import datetime

now=datetime.now()
now

datetime.datetime(2020, 5, 17, 15, 5, 46, 341416)

In [10]:
now.year, now.month, now.day

(2020, 5, 17)

In [11]:
# datetune stires the date and time down to the microsecond
#timedelta - difference between 2 datetime objects
delta=datetime(2011,1,7)-datetime(2008, 6,24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [12]:
delta.days

926

In [13]:
delta.seconds

56700

In [15]:
# add or subtract timedelta 

from datetime import timedelta

start=datetime(2011,1,7)
start + timedelta(12) #added the 12
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## Types in datetime module 
1. date -Store calendar date (year, month, day) using the Gregorian            calendar     
2.time -Store time of day as hours, minutes, seconds, and microseconds
3.datetime - Stores both date and time   
4. timedelta - Represents the difference between two datetime values (as days,            seconds, and microseconds)    
4. tzinfo -Base type for storing time zone information

In [16]:
##Convert Between String and Datetime 

stamp= datetime(2011,1,3)
str(stamp)

stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [21]:
value='2011-01-03'
datetime.strptime(value, '%Y-%m-%d')# convert strings to dates using datetime.strptime
datestrs=['7/6/2011','8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [24]:
# another easier way is to use the parse package
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [25]:
parse('Jan 31, 1997 10:45 PM') # this will parse into easy to read date representation

datetime.datetime(1997, 1, 31, 22, 45)

In [26]:
# if the day should appear first before the month
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [28]:
import pandas as pd
# pandas works with arrays of dates
datestrs=['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [29]:
#It also handles values that should be considered missing (None, empty string, etc.):

idx=pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

# Time Series Basics

In [32]:
import numpy as np
from datetime import datetime 
dates = [datetime(2011, 1,2), datetime(2011,1,5),
        datetime(2011,1,7), datetime(2011,1,8),
        datetime(2011,1,10), datetime(2011, 1, 12)]

#they will be put into a DatetimeIndex
#arithmetic operations between differently indexed time series automatically align on the dates:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    2.045342
2011-01-05    0.443749
2011-01-07    0.053121
2011-01-08    1.091408
2011-01-10    0.516275
2011-01-12   -1.131009
dtype: float64

### Indexing, Selection, Subsetting

In [33]:
#Time series behaves like any other pandas.Series when you are indexing and selecting data based on label:
stamp=ts.index[2]
ts[stamp]

0.05312064045786529

In [35]:
ts['1/10/2011'] # a string can be passed and be interpreted as a date

0.5162748844331069

In [36]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.329723
2000-01-02   -0.716184
2000-01-03    0.436611
2000-01-04   -0.613272
2000-01-05   -0.399301
                ...
2002-09-22    0.781143
2002-09-23    0.089145
2002-09-24   -0.159088
2002-09-25   -1.612005
2002-09-26    0.623543
Freq: D, Length: 1000, dtype: float64

In [39]:
longer_ts['2001-05'] #index by year and month

2001-05-01    1.603084
2001-05-02    0.428185
2001-05-03    0.426096
2001-05-04   -0.485366
2001-05-05    1.180010
2001-05-06    0.471085
2001-05-07   -0.733954
2001-05-08   -1.747170
2001-05-09   -0.241996
2001-05-10   -1.118864
2001-05-11   -1.178727
2001-05-12    0.258729
2001-05-13   -0.495692
2001-05-14    0.182890
2001-05-15   -1.435527
2001-05-16    0.691813
2001-05-17    1.124994
2001-05-18   -0.386560
2001-05-19   -0.118909
2001-05-20    0.048950
2001-05-21    0.909962
2001-05-22    0.304204
2001-05-23    0.526749
2001-05-24   -0.562414
2001-05-25   -1.064323
2001-05-26   -2.340989
2001-05-27    0.147257
2001-05-28   -1.615850
2001-05-29   -0.250512
2001-05-30   -0.371480
2001-05-31   -0.902032
Freq: D, dtype: float64

In [40]:
#start from 2011,1,7 and above
ts[datetime(2011, 1, 7):]

2011-01-07    0.053121
2011-01-08    1.091408
2011-01-10    0.516275
2011-01-12   -1.131009
dtype: float64

In [41]:
#slicing 
ts['1/6/2011':'1/11/2011']

2011-01-07    0.053121
2011-01-08    1.091408
2011-01-10    0.516275
dtype: float64

# Date Ranges, Frequencies, and Shifting
Pandas has a full suite of standard time series frequencies and tools for resampling, inferring frequencies, and generating fixed-frequency date ranges.